Repository mugisham37/node-taskmanagement-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskmanagement/core-team, @taskmanagement/backend-team, @taskmanagement/devops-team, @taskmanagement/security-team, @taskmanagement/frontend-team, @taskmanagement/design-team, @taskmanagement/mobile-team, @taskmanagement/docs-team, @taskmanagement/qa-team, @taskmanagement/android-team, @taskmanagement/ios-team, @taskmanagement/sre-team

setup complete monitoring and observability infrastructure
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  monitoring/.env.example
  monitoring/README.md
  monitoring/alertmanager/alertmanager.yml
  monitoring/alertmanager/templates/default.tmpl
  monitoring/alertmanager/templates/email.tmpl
  monitoring/alertmanager/templates/slack.tmpl
  monitoring/docker-compose.yml
  monitoring/elk/docker-compose.elk.yml
  monitoring/elk/logstash/config/logstash.yml
  monitoring/elk/logstash/pipeline/taskmanagement.conf
  monitoring/grafana/dashboards/application/api-performance.json
  monitoring/grafana/dashboards/business/user-engagement.json
  monitoring/grafana/dashboards/database/postgres-performance.json
  monitoring/grafana/dashboards/infrastructure/system-overview.json
  monitoring/grafana/grafana.ini
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/jaeger/docker-compose.jaeger.yml
  monitoring/jaeger/jaeger-config.yml
  monitoring/nginx/nginx.conf
  monitoring/nginx/status.conf
  monitoring/postgres-exporter/queries.yaml
  monitoring/prometheus/prometheus.yml
  monitoring/prometheus/rules/alerting-rules.yml
  monitoring/prometheus/rules/application.yml
  monitoring/scripts/backup-monitoring.ps1
  monitoring/scripts/maintenance-monitoring.ps1
  monitoring/scripts/setup-monitoring.ps1
  monitoring/uptime/blackbox-exporter.yml
  monitoring/uptime/docker-compose.uptime.yml
Owners: @taskmanagement/core-team, @taskmanagement/devops-team, @taskmanagement/sre-team

implemented complete application monitoring integration
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  apps/admin/package.json
  apps/admin/src/lib/monitoring.ts
  apps/api/src/app.ts
  apps/mobile/package.json
  apps/mobile/src/lib/monitoring.ts
  apps/web/package.json
  apps/web/src/components/providers/monitoring-provider.tsx
  apps/web/src/lib/monitoring.ts
  packages/observability/src/application-monitoring.ts
  packages/observability/src/business-metrics-service.ts
  packages/observability/src/health-checks/health-check-registry.ts
  packages/observability/src/health-checks/index.ts
  packages/observability/src/index.ts
  packages/observability/src/logging/audit-logger.ts
  packages/observability/src/logging/correlation-context.ts
  packages/observability/src/logging/index.ts
  packages/observability/src/logging/structured-logger.ts
  packages/observability/src/monitoring-decorators.ts
  packages/observability/src/monitoring-middleware.ts
  packages/observability/src/performance-monitoring.ts
  packages/observability/src/tracing/distributed-tracing.ts
  packages/observability/src/tracing/index.ts
Owners: @taskmanagement/core-team, @taskmanagement/frontend-team, @taskmanagement/devops-team, @taskmanagement/sre-team, @taskmanagement/backend-team, @taskmanagement/mobile-team

created development tools and autoanimation
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  tools/README.md
  tools/generators/api-route.js
  tools/generators/component.js
  tools/linting/eslint.config.js
  tools/linting/prettier.config.js
  tools/linting/stylelint.config.js
  tools/quality/codecov.yml
  tools/quality/sonarqube.properties
  tools/scripts/database.sh
  tools/scripts/deploy.sh
  tools/scripts/maintenance.sh
  tools/scripts/setup.ps1
  tools/scripts/setup.sh
  tools/testing/playwright.config.ts
  tools/testing/setup.ts
  tools/testing/vitest.config.ts
Owners: @taskmanagement/core-team

optimized complete perfomence and scalability
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  apps/admin/src/components/performance/performance-dashboard.tsx
  apps/api/src/infrastructure/performance/performance-middleware.ts
  apps/web/next.config.js
  infrastructure/terraform/modules/cdn/main.tf
  packages/cache/src/decorators/cache-decorator.ts
  packages/cache/src/strategies/multi-layer-cache.ts
  packages/core/src/middleware/compression-middleware.ts
  packages/core/src/middleware/request-batching.ts
  packages/database/src/connection/connection-pool.ts
  packages/database/src/optimization/query-optimizer.ts
  packages/observability/src/performance/performance-monitor.ts
  packages/ui/src/components/performance/image-optimizer.tsx
  packages/ui/src/hooks/use-lazy-loading.ts
Owners: @taskmanagement/core-team, @taskmanagement/sre-team, @taskmanagement/frontend-team, @taskmanagement/devops-team, @taskmanagement/backend-team, @taskmanagement/design-team

implement complete security and compliance measures
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  packages/auth/src/index.ts
  packages/auth/src/security/compliance-manager.ts
  packages/auth/src/security/comprehensive-security-service.ts
  packages/auth/src/security/index.ts
  packages/auth/src/security/security-config.ts
  packages/auth/src/security/security-headers-middleware.ts
  packages/auth/src/security/security-test-suite.ts
  packages/auth/src/security/vulnerability-scanner.ts
Owners: @taskmanagement/core-team, @taskmanagement/security-team

implemented complete security automation and complicance
  .github/workflows/security-scanning.yml
  .github/workflows/security-testing.yml
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  docs/security/security-training-program.md
  packages/observability/src/security/compliance-monitoring.ts
  packages/observability/src/security/incident-detection.ts
  packages/observability/src/security/incident-response.ts
  scripts/security/gdpr-compliance-check.js
  scripts/security/penetration-testing.py
  scripts/security/security-quality-gate.js
  scripts/security/soc2-controls-check.js
Owners: @taskmanagement/security-team, @taskmanagement/core-team, @taskmanagement/docs-team, @taskmanagement/devops-team, @taskmanagement/sre-team

implemented complete production deployment and operations
  .github/workflows/backup-restore.yml
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  docker-compose.perf.yml
  docker-compose.test.yml
  infrastructure/docker/admin.Dockerfile
  infrastructure/docker/api.Dockerfile
  infrastructure/docker/docker-compose.yml
  infrastructure/docker/web.Dockerfile
  infrastructure/kubernetes/production/admin-deployment.yml
  infrastructure/kubernetes/production/api-deployment.yml
  infrastructure/kubernetes/production/ingress.yml
  infrastructure/kubernetes/production/web-deployment.yml
  infrastructure/scripts/deploy.sh
  infrastructure/scripts/health-check.sh
  infrastructure/scripts/rollback.sh
Owners: @taskmanagement/devops-team, @taskmanagement/core-team, @taskmanagement/security-team, @taskmanagement/qa-team

created and connected the server
  apps/web/src/app/test-api/page.tsx
  apps/web/src/components/examples/LoginForm.tsx
  apps/web/src/components/examples/TaskList.tsx
  apps/web/src/components/examples/UserProfile.tsx
  apps/web/src/components/providers/Providers.tsx
  apps/web/src/hooks/api/index.ts
  apps/web/src/hooks/api/useAuth.ts
  apps/web/src/hooks/api/useProjects.ts
  apps/web/src/hooks/api/useTasks.ts
  apps/web/src/hooks/api/useUsers.ts
Owners: @taskmanagement/frontend-team

updated configuration documents
  .npmrc
  .pnpmrc
  apps/admin/package.json
  apps/api/.eslintrc.js
  apps/api/tsconfig.json
  apps/mobile/package.json
  apps/web/.eslintrc.js
  apps/web/package.json
  cleanup-and-install.ps1
  docs/security/security-training-program.md
  package.json
  packages/integrations/package.json
  packages/jobs/package.json
Owners: @taskmanagement/core-team, @taskmanagement/frontend-team, @taskmanagement/devops-team, @taskmanagement/backend-team, @taskmanagement/mobile-team, @taskmanagement/docs-team

solved typescript errors
  apps/api/package.json
  apps/api/src/infrastructure/integration/infrastructure-integration.ts
  apps/api/src/infrastructure/migration/cli/migration.cli.ts
  apps/api/src/infrastructure/migration/fastify-migration.controller.ts
  apps/api/src/infrastructure/migration/migration-routes.ts
  apps/api/src/infrastructure/migration/migration-service-registration.ts
  apps/api/src/infrastructure/migration/migration.module.ts
  apps/api/src/infrastructure/migration/services/backup.service.ts
  apps/api/src/infrastructure/migration/services/current-system-mapper.service.ts
  apps/api/src/infrastructure/migration/services/error-recovery.service.ts
  apps/api/src/infrastructure/migration/services/file-analysis.service.ts
  apps/api/src/infrastructure/migration/services/migration-tracker.service.ts
  apps/api/src/infrastructure/migration/services/verification.service.ts
  apps/api/src/types/node-modules.d.ts
  apps/api/src/types/node.d.ts
  apps/api/tsconfig.json
  packages/observability/src/index.ts
  packages/observability/tsconfig.json
Owners: @taskmanagement/backend-team, @taskmanagement/devops-team

solved typescript errors
  apps/api/src/infrastructure/performance/performance-middleware.ts
  apps/api/src/shared/constants/error-constants.ts
  apps/api/src/shared/constants/task-constants.ts
  apps/api/src/shared/container/index.ts
  apps/api/src/shared/container/service-registration.ts
  apps/api/src/shared/documentation/documentation-integration.ts
  apps/api/src/shared/index.ts
  apps/api/tsconfig.json
  packages/core/package.json
  packages/core/src/constants/task-constants.ts
  packages/core/src/errors/index.ts
  packages/core/src/events/event-store.ts
  packages/core/src/index.ts
  packages/core/src/middleware/compression-middleware.ts
  packages/core/src/types/index.ts
  packages/integrations/package.json
  packages/integrations/src/email-service.ts
  packages/integrations/src/index.ts
  packages/integrations/src/websocket-service.ts
  packages/observability/src/index.ts
Owners: @taskmanagement/sre-team, @taskmanagement/backend-team, @taskmanagement/core-team, @taskmanagement/devops-team

made some changes to solve errors
  apps/api/src/infrastructure/caching/cache-adapters.ts
  apps/api/src/infrastructure/caching/cache-config.ts
  apps/api/src/infrastructure/caching/index.ts
  apps/api/src/infrastructure/index.ts
  apps/api/src/infrastructure/performance-optimization-service.ts
  apps/api/src/infrastructure/performance/api-optimization.ts
  apps/api/src/infrastructure/performance/performance-middleware.ts
  apps/api/src/infrastructure/security/index.ts
  apps/api/src/infrastructure/security/security-config.ts
  apps/api/src/infrastructure/security/security-middleware.ts
  apps/api/src/infrastructure/security/security-utils.ts
  apps/api/src/infrastructure/stubs/index.ts
  apps/api/src/infrastructure/stubs/package-stubs.ts
  packages/integrations/src/index.ts
  packages/observability/src/index.ts
Owners: @taskmanagement/backend-team, @taskmanagement/sre-team, @taskmanagement/security-team, @taskmanagement/devops-team

.github/CODEOWNERS:

# Global code owners
* @taskmanagement/core-team

# Package-specific owners
/packages/core/ @taskmanagement/core-team @taskmanagement/backend-team
/packages/domain/ @taskmanagement/core-team @taskmanagement/backend-team
/packages/database/ @taskmanagement/backend-team @taskmanagement/devops-team
/packages/auth/ @taskmanagement/security-team @taskmanagement/backend-team
/packages/cache/ @taskmanagement/backend-team @taskmanagement/devops-team
/packages/events/ @taskmanagement/backend-team
/packages/validation/ @taskmanagement/backend-team @taskmanagement/frontend-team
/packages/types/ @taskmanagement/core-team
/packages/utils/ @taskmanagement/core-team
/packages/config/ @taskmanagement/devops-team @taskmanagement/backend-team
/packages/i18n/ @taskmanagement/frontend-team
/packages/ui/ @taskmanagement/frontend-team @taskmanagement/design-team
/packages/observability/ @taskmanagement/devops-team
/packages/integrations/ @taskmanagement/backend-team
/packages/jobs/ @taskmanagement/backend-team @taskmanagement/devops-team

# Application-specific owners
/apps/api/ @taskmanagement/backend-team
/apps/web/ @taskmanagement/frontend-team
/apps/admin/ @taskmanagement/frontend-team @taskmanagement/devops-team
/apps/mobile/ @taskmanagement/mobile-team

# Infrastructure and DevOps
/infrastructure/ @taskmanagement/devops-team
/monitoring/ @taskmanagement/devops-team
/.github/workflows/ @taskmanagement/devops-team @taskmanagement/core-team
/docker-compose*.yml @taskmanagement/devops-team
/Dockerfile* @taskmanagement/devops-team

# Configuration files
/package.json @taskmanagement/core-team
/pnpm-workspace.yaml @taskmanagement/core-team
/turbo.json @taskmanagement/core-team
/tsconfig*.json @taskmanagement/core-team
/.eslintrc* @taskmanagement/core-team
/.prettierrc* @taskmanagement/core-team
/.commitlintrc* @taskmanagement/core-team

# Security-sensitive files
/.github/workflows/security-scan.yml @taskmanagement/security-team @taskmanagement/devops-team
/packages/auth/ @taskmanagement/security-team
/**/security/ @taskmanagement/security-team
/**/*security* @taskmanagement/security-team
/**/*auth* @taskmanagement/security-team

# Documentation
/docs/ @taskmanagement/docs-team @taskmanagement/core-team
/README.md @taskmanagement/docs-team @taskmanagement/core-team
/CONTRIBUTING.md @taskmanagement/docs-team @taskmanagement/core-team
/CHANGELOG.md @taskmanagement/core-team

# Testing
/tests/ @taskmanagement/qa-team @taskmanagement/core-team
/**/*.test.* @taskmanagement/qa-team
/**/*.spec.* @taskmanagement/qa-team
/**/test/ @taskmanagement/qa-team

# Database and migrations
/**/migrations/ @taskmanagement/backend-team @taskmanagement/devops-team
/**/seeds/ @taskmanagement/backend-team
/packages/database/drizzle.config.ts @taskmanagement/backend-team @taskmanagement/devops-team

# Mobile-specific files
/apps/mobile/android/ @taskmanagement/mobile-team @taskmanagement/android-team
/apps/mobile/ios/ @taskmanagement/mobile-team @taskmanagement/ios-team
/**/*.podspec @taskmanagement/ios-team
/**/android/ @taskmanagement/android-team
/**/ios/ @taskmanagement/ios-team

# Performance and monitoring
/monitoring/ @taskmanagement/devops-team @taskmanagement/sre-team
/**/performance/ @taskmanagement/sre-team
/**/*performance* @taskmanagement/sre-team
/**/*monitoring* @taskmanagement/devops-team @taskmanagement/sre-team
